{% extends 'base.html.twig' %}

{% block title %}Modifiction glace
{% endblock %}

{% block body %}
	{{form_start(glaceform)}}
	{{form_widget(glaceform)}}
	<button class="btn">Ajouter</button>
	{{form_end(glaceform)}}
{% endblock %}
