.btn {
    background-color: #A8E6Cf;
    color: #D72638;
    border: none;
    border-radius: 0.8rem 0 0.8rem 0;
    padding: 0.5rem;
    font-size: 16px;
}

.btn:hover {
    background-color: #FFB6B9;
    color: white;
}